<div class="center jumbotron">
  <h1>Welcome to the Monitoring App</h1>

  <h2>
    You could easily monitor the state of your servers with our help!
  </h2>

  <%= link_to "Add server", '/servers/new', class: "btn btn-lg btn-primary" %>
</div>